*{
    margin:0;
    padding:0;
}
body{
    min-width: 100%;
}
html{
    min-width: 100%;
    min-height:100%;
}

body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
}
.textearea{
    height:10rem;
    background-color: rgba(233, 210, 166, 0);
    resize: none;
    text-justify: start;
}
#cita, .cardNew{
    background-color: rgb(229, 205, 162);
    border-radius: 5px;
}
.tarea-lista{
   display: inline-block
}

.container{
    min-width:98%;
    width:100%;
}


@media (max-width:768px){
    .citasCreadas{
        justify-content: space-between;
    }
}
